:root {
  --zan-black: #000;
  --zan-white: #fff;
  --zan-gray-1: #f7f8fa;
  --zan-gray-2: #f2f3f5;
  --zan-gray-3: #ebedf0;
  --zan-gray-4: #dcdee0;
  --zan-gray-5: #c8c9cc;
  --zan-gray-6: #969799;
  --zan-gray-7: #646566;
  --zan-gray-8: #323233;
  --zan-red: #ee0a24;
  --zan-blue: #1989fa;
  --zan-orange: #ff976a;
  --zan-orange-dark: #ed6a0c;
  --zan-orange-light: #fffbe8;
  --zan-green: #07c160;
  --zan-gradient-red: linear-gradient(to right, #ff6034, #ee0a24);
  --zan-gradient-orange: linear-gradient(to right, #ffd01e, #ff8917);
  --zan-primary-color: var(--zan-blue);
  --zan-success-color: var(--zan-green);
  --zan-danger-color: var(--zan-red);
  --zan-warning-color: var(--zan-orange);
  --zan-text-color: var(--zan-gray-8);
  --zan-active-color: var(--zan-gray-2);
  --zan-active-opacity: 0.7;
  --zan-disabled-opacity: 0.5;
  --zan-background-color: var(--zan-gray-1);
  --zan-background-color-light: #fafafa;
  --zan-text-link-color: #576b95;
  --zan-padding-base: 4px;
  --zan-padding-xs: 8px;
  --zan-padding-sm: 12px;
  --zan-padding-md: 16px;
  --zan-padding-lg: 24px;
  --zan-padding-xl: 32px;
  --zan-font-size-xs: 10px;
  --zan-font-size-sm: 12px;
  --zan-font-size-md: 14px;
  --zan-font-size-lg: 16px;
  --zan-font-weight-bold: 500;
  --zan-line-height-xs: 14px;
  --zan-line-height-sm: 18px;
  --zan-line-height-md: 20px;
  --zan-line-height-lg: 22px;
  --zan-base-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  --zan-price-integer-font-family: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial, sans-serif;
  --zan-animation-duration-base: 0.3s;
  --zan-animation-duration-fast: 0.2s;
  --zan-animation-timing-function-enter: ease-out;
  --zan-animation-timing-function-leave: ease-in;
  --zan-border-color: var(--zan-gray-3);
  --zan-border-width-base: 1px;
  --zan-border-radius-sm: 2px;
  --zan-border-radius-md: 4px;
  --zan-border-radius-lg: 8px;
  --zan-border-radius-max: 999px;
}
